@media (min-width: 768px){
    #members.grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .hamburger {
        display: none;
    }

    .main-nav {
        align-items: center;
        margin-bottom: 23px;
    }

    .main-nav ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 1.5rem;
        background-color: transparent;
    }

    .main-nav li a {
        color: var(--gold-accent);
        border: none;
    }

    .main-nav li a:hover {
        background-color: transparent;
        text-decoration: underline;
    }

    .hero-text {
        bottom: 20%;
        max-width: 420px;
        padding: 1.5rem 2rem;
    }

    .hero-text h2 {
        font-size: 2rem;
    }
}