@media (min-width: 850px){
    #members.grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .hamburger {
        display: none;
    }

    .main-nav {
        align-items: center;
        margin-bottom: 23px;
    }

    .main-nav ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 1.5rem;
        background-color: transparent;
    }

    .main-nav li a {
        color: var(--light-text);
        border: none;
    }

    .main-nav li a:hover {
        background-color: transparent;
        text-decoration: underline;
    }

    .hero-text {
        bottom: 20%;
        max-width: 420px;
        padding: 1.5rem 2rem;
    }

    .hero-text h2 {
        font-size: 2rem;
    }

    #spotlight-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .updates-grid {
        grid-template-columns: 2fr 1fr 1fr;
        align-items: stretch;
    }

    .join-page {
        grid-template-columns: 2fr 1fr;
        align-items: start;
    }

    .join-form {
        grid-template-columns: 1fr 1fr;
    }

    .join-layout {
        grid-template-columns: 2fr 1fr;
    }

    .discover-grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
            "card1 card2 card3 card4"
            "card5 card6 card7 card8";
    }

    .discover-card img {
        width: 100%;
        height: auto;
    }
}