@media screen and (min-width: 768px) {
    header {
        grid-template-columns: auto 1fr;
        align-items: center;
    }

    .hamburger {
        display: none;
    }

    .main-nav {
        align-items: center;
        margin-bottom: 23px;
    }

    .main-nav ul {
        display: flex;
        justify-content: flex-end;
        gap: 1.5rem;
        background-color: transparent;
    }

    .main-nav li a {
        color: var(--midnight-blue);
        border: none;
    }

    .main-nav li a:hover {
        background-color: transparent;
        text-decoration: underline;
    }

    main {
        max-width: 1000px ;
    }

    .about-section {
        grid-template-columns: 2fr 1fr;
        gap: 1rem;
    }

    .about-photo img {
        max-width: 100%;
        height: auto;
    }
}