:root {
    /* Colors */
    --midnight-blue: #0A192F;
    --soft-ice: #F0F4F8;
    --white: #FFF;
    --deep-indigo: #112240;
    --body-text: #486581;
    --accent: #0077B5;
}

* {
    font-family: 'Lora', sans-serif;
}

main {
    padding: 1rem;
    max-width: 700px;
    margin: 0 auto;
}

h1, h2 {
    margin-bottom: 0.5rem;
    color: var(--deep-indigo)
}

/* HEADER */
header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    padding: 0;
    border-bottom: solid 1px var(--accent);
}

.branding {
    display: grid;
    grid-template-columns: 24px auto 44px;
    column-gap: 10px;
    padding: 10px;
    align-items: center;
    background-color: var(--white);
}

.main-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
    position: relative;
}

.main-nav ul {
    display: none;
    grid-template-columns: 1fr;
    background-color: var(--midnight-blue);
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: var(--midnight-blue);
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
}

.main-nav ul.show {
    display: block;
}

.main-nav li a {
    display: block;
    padding: 1rem;
    color: var(--white);
    text-decoration: none;
    border-top: 1px solid var(--deep-indigo);
}

.main-nav li a:hover {
    background-color: var(--deep-indigo);
}

.main-nav a.active {
    text-decoration: underline;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1.2rem;
    color: var(--deep-indigo);
    padding-top: 3px;
}

.hamburger {
    background: none;
    border: none;
    color: var(--midnight-blue);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
    font-size: 1.5rem;
}

.hamburger.show::before {
    content: "\00D7";
    font-size: 1.5rem;
}

/* ABOUT SECTION */

.about-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-bottom: 2rem;
}

.about-text, .about-photo {
    background-color: var(--soft-ice);
    padding: 1rem;
    color: var(--body-text);
    font-size: 1.6rem;
}

.about-photo h2 {
    text-align: center;
}

.about-photo img {
    width: 500px;
    height: auto;
    object-fit: cover;
    display: block;
    
}

/* COURSES */

.courses-section {
    background-color: var(--soft-ice);
    padding: 1rem;
}

.course-filters {
    display: flex;
    gap: 3rem;
    margin-bottom: 1rem;
    justify-content: center;
}

.course-filters button {
    flex: 1;
    padding: .5rem;
    border: 1px solid var(--deep-indigo);
    background-color: var(--white);
    cursor: pointer;
    
}

.course-button {
    max-width: 130px;
    padding: 0.5rem;
    border: 1px solid var(--deep-indigo);
    background-color: var(--white);
    cursor: pointer;
    font-weight: bold;
}

.course-button:hover {
    background-color: var(--midnight-blue);
    color: var(--white);
}

.course-list {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    margin-bottom: 1rem;
    justify-content: center;
}

.course-total {
    text-align: center;
}

/* FOOTER */
footer {
    margin-top: 2rem;
    padding: 1rem;
    text-align: center;
    background-color: var(--midnight-blue);
    color: var(--white);
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-bottom: .5rem;
    
}

.social-links a, img {
    width: 70px;
    height: auto;
    
}

h3 {
        text-align: center;
        font-size: 1.5rem;
    }

.course {
    width: 250px;
    padding: 0.75rem;
    border: 1px solid var(--deep-indigo);
    background-color: var(--white);
    text-align: center;
}

.course.completed {
    background-color: var(--accent);
    color: var(--white);
    font-weight: bold;
}

.course.completed::before {
    background-color: var(--accent);
    color: var(--white);
    font-weight: bold;
    content: "\2713"
}