:root {
    /* Colors */
    --midnight-blue: #0A192F;
    --soft-ice: #F0F4F8;
    --white: #FFF;
    --deep-indigo: #112240;
    --body-text: #486581;
    --accent: #0077B5;
}

* {
    font-family: 'Lora', sans-serif;
}

main {
    padding: 1rem;
    max-width: 700px;
    margin: 0 auto;
}

h1, h2 {
    margin-bottom: 0.5rem;
    color: var(--deep-indigo)
}

/* HEADER */
header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    padding: 0;
    border-bottom: solid 1px var(--accent);
}

.branding {
    display: grid;
    grid-template-columns: 24px auto 44px;
    column-gap: 10px;
    padding: 10px;
    align-items: center;
    background-color: var(--white);
}

.main-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
}

.main-nav ul {
    display: none;
    grid-template-columns: 1fr;
    background-color: var(--midnight-blue);
}

.main-nav ul.show {
    display: grid;
}

.main-nav li a {
    display: block;
    padding: 1rem;
    color: var(--white);
    text-decoration: none;
    border-top: 1px solid var(--deep-indigo);
}

.main-nav li a:hover {
    background-color: var(--deep-indigo);
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1.2rem;
    color: var(--deep-indigo);
    padding-top: 3px;
}

.hamburger {
    background: none;
    border: none;
    color: var(--midnight-blue);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
    font-size: 1.5rem;
}

.hamburger.show::before {
    content: "\00D7";
    font-size: 1.5rem;
}

/* ABOUT SECTION */

.about-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-bottom: 2rem;
}

.about-text, .about-photo {
    background-color: var(--soft-ice);
    padding: 1rem;
    border-radius: 4px;
}

.about-photo h2 {
    text-align: center;
}

.placeholder {
    width: 100%;
    background-color: #CCC;
    margin-top: .5rem;
}

/* COURSES */

.courses-section {
    background-color: var(--soft-ice);
    padding: 1rem;
}

.course-filters {
    display: flex;
    gap: .5rem;
    margin-bottom: 1rem;
}

.course-filters button {
    flex: 1;
    padding: .5rem;
    border: 1px solid var(--deep-indigo);
    background-color: var(--white);
    cursor: pointer;
}

.course-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: .5rem;
    margin-bottom: 1rem;
}

.course-total {
    text-align: center;
}